.mainContainer{
    margin: auto;
    margin-top: 20px;
    width: 90%;
    padding: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px; 
}

.imageBlock{
    display: inline-block;
    margin: 1%;
    padding: 2%;
    width: 140px;
    height: 100px;

    
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

figure {
    text-align: center;
}

figcaption{
    font-size: 12px;
}

h1 {
    margin: auto;
    color: #4F4F4F;
    text-align: center;
}

.galery{
    text-align: center;
}
