.mainContainer{
    position: absolute;
    width: 900px;
    height: 509px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px; 
}

.centerHandV{
    margin-top: 3%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageBlock{
    display: inline;
    //background: #FFFFFF;
    //box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    //border-radius: 12px;
}

img{
    margin: 5%;
}

p{
    font-size: 10px;
}