<div class="mainContainer centerHandV">
    <div class="centerHandV">
        <h1 class="centerText">Upload your image</h1>
        <p class="centerText">File should be Jpeg or Png</p>
        <div class="imageContainer">
            <img src="../../assets/images/image.svg" alt="pokemon.png">
            <p class="centerText imgText">Drag & Drop your image here</p>
        </div>
        <p class="centerText" style="margin-top: 7%;">Or</p>
        <label for="uploadImage">Choose a file</label>
        <input type="file" name="photo" id="uploadImage" onchange="console.log(event.target.files)" (change)="onFileSelected($event)" style="display: none;"/>
    </div>
</div>
