<div class="mainContainer centerHandV">
    <div class="centerHandV">
        <h1 class="centerText">Upload your image</h1>
        <p class="centerText">File should be Jpeg or Png</p>
        <div class="imageContainer">
            <img src="../../assets/images/image.svg" alt="pokemon.png">
            <p class="centerText imgText">Drag & Drop your image here</p>
        </div>
        <p class="centerText">Or</p>
        <input type="file" class="file-upload" onchange="console.log(event.target.files)">
    </div>

    
</div>
