.mainContainer{
    position: absolute;
    width: 402px;
    height: 469px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px; 
}

.imageContainer{
    margin: auto;
    width: 338px;
    height: 218.9px;
    background: #F6F8FB;

    // Border --> https://kovart.github.io/dashed-border-generator/
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='12' ry='12' stroke='%2397BEF4FF' stroke-width='2' stroke-dasharray='9' stroke-dashoffset='45' stroke-linecap='square'/%3e%3c/svg%3e");
    border-radius: 12px;
}

.centerHandV{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centerText{
    text-align: center;
}

h1{
    font-size: 18px;
    color: #4F4F4F;
}

p{
    font-size: 10px;
    color: #828282;
}

img{
    margin:0 auto;
    display:block; 
    padding-top: 10%;
}

.imgText{
    font-size: 12px;
    padding-top: 7%;
}

label{
    margin:0 auto;
    margin-top: 7%;
    
    display:flex;
    align-items: center;
    justify-content: center;
    width: 101px;
    height: 31.98px;  
    
    font-size: 12px;
    background: #2F80ED;
    border-radius: 8px;
    color: white;
    border: none
}

label:hover{
    background: #2361b3;    
}
