<div *ngIf="!loadedImage" class="mainContainer centerHandV">
    <h1 class="centerText">Upload your image</h1>
    <p class="centerText">File should be Jpeg or Png</p>
    <div class="imageContainer dropzone">
        <img *ngIf="!selectedFileFlag" src="../../assets/images/image.svg">
        <img *ngIf="selectedFileFlag" src="{{preview}}" width="100">
        <p class="centerText imgText">Drag & Drop your image here</p>
        <input 
            type="file" 
            name="photo" 
            id="selectImage" 
            (change)="selectFiles($event)"
            accept="image/*"
        />
    </div>
    <p class="centerText" style="margin-top: 7%;">Or</p>
    <label for="selectImage">Choose image</label>
    
    <label for="uploadImage">Upload image</label>
    <input 
        type="button" 
        id="uploadImage"
        (click)="uploadFile()" 
        style="display: none;"
    />
</div>