ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #dddddd;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px; 
}
  
li {
    float: left;
}
  
li a {
    display: block;
    padding: 8px;
    color: #4F4F4F;
    text-decoration: none;
    font-weight: bold;
}

li a:hover {
    background-color: #9c9c9c;
}

.liRight {
    float: right;
}

