.mainContainer{
    position: absolute;
    width: 402px;

    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px; 

    font-size: 16px;
    color: #828282;
}

.centerHandV{
    margin-top: 2%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    padding: 10%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box    
}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box    
}

input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box    
}

button {
    background: #2F80ED;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;  

    margin:0 auto;
    margin-top: 7%;
    
    display:flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
}
  
button:hover {
    background: #2361b3; 
}

h1 {
    text-align: center;
}

.errorForm{
    margin-top: 2%;
    font-size: 12px;
    color: rgba(255, 0, 0, 0.781);
    text-align: center;
}

.successForm{
    margin: 3%;
    font-size: 16px;
    text-align: center;
    color: #5cb85c
}